body {
    font-family: Whitney, Helvetica, Arial, sans-serif !important;
    color: #424553;
    line-height: 2.428571;
    background-color: lightgray;
    background-image: url('../image/backgroundimg.jpg');
    backdrop-filter: blur(10px)
}

div {
    display: block;
}

#headerUnderline {
    width: 100%;
    border-bottom: 1px solid #F5F5F6;
    margin-bottom: 30px;
    background-color: #404240;
    margin-top: -10px;
}

#header {
    display: flex;
    width: 92%;
    color: rgb(105, 107, 121);
    font-size: 10px;
    margin: 20px auto 10px;
    justify-content: space-between;
}
#add{
    color: white;
    text-decoration: none;
}
.navbarMiddle {
    letter-spacing: 3px;
    font-weight: bolder;
    color: white;
}

.navbarMiddlePayment {
    color: #f7c706;
    border-bottom: 2px solid #f7c706;
}

#paymentNavSecure {
    display: flex;
    align-items: center;
}

#paymentNavSecure img {
    margin-right: 5px;
}


.cart-page {
    text-decoration: none;
    color: white;
}



button {
    width: 100%;
    margin: 10px auto;
    padding: 12px;
    padding-right: 0;
    border: 1px solid #d4d5d9;
    color: #94969f;
    background-color: #f7c706;
    border-radius: 4px;
    line-height: 14px;
    font-weight: 300;
    font-size: 14px;
}


.address-right {
    width: 35%;
    vertical-align: top;
    padding-top: 90px;
    padding-left: 75px;
    max-width: 1000px;
    margin: 0 350px 24px;
    padding-bottom: 50px;
}

.price-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.priceBlock-items {
    line-height: 15px;
    color: #535766;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 20px 5px 20px;
}

.price-detailBody {
    padding: 20px 20px 5px 20px;
}

.priceBreakUp {
    font-size: 14px;
}

.priceDetail-base-row {
    margin-bottom: 12px;
    line-height: 16px;
}

.priceDetail-base-value {
    float: right;
}

.priceDetail-base-total .priceDetail-base-icon {
    height: 10px;
}

.priceDetail-base-icon {
    height: 9px;
}

.priceDetail-Container {
    display: inline-block;
}

.css-one {
    margin-left: 8px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 2px;
    border-width: 0px;
    background-color: transparent;
    color: #f7c706;
    padding: 0px;
    cursor: pointer;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: 0;
}

.css-two {
    box-sizing: border-box;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
}

.priceDetail-base-total {
    font-weight: 600;
    font-size: 15px;
    padding-top: 16px;
    border-top: 1px solid #eaeaec;
    color: #3e4152;
    line-height: 16px;
}

#convenienceFee {
    text-decoration: line-through;
    font-weight: 400;
}


#totaldisc {
    color: #03a685;
}

.priceDetail-base-discount {
    color: #03a685;
}

.convienceFee {
    margin-top: 10px;
}




#footer {
    border-top: 1px solid #F5F5F6;
    margin: 0 0 10px 0;
    padding-left: 100px;
    padding-bottom: 150px;
}

#footer #footerContent {
    display: flex;
    max-width: 980px;
    padding-top: 10px;
    margin: auto;
    justify-content: space-between;
}

#footer #footerContentImg img {
    width: 70px;
    height: 50px;
}

#footerContent>a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 0;
}


@keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.animated-image {
    width: 100px; 
    height: 50px;
    animation: slide-in 1s ease-in-out;
    border: 1px solid blue;
}

.animated-image:hover {
    transform: scale(1.1); 
}

.animated-element {
    width: 150%;
    height: auto;
    background-color: #404240;
    transition: transform 0.3s ease;
}


.animated-left:hover {
    transform: scale(1.2);
}
.animated-element:hover {
    transform: scale(1.2);
}
